<!--<app-joke-list>-->
<!--<app-joke [joke]="joke">-->
<!--<span class="setup">{{joke.setup}}</span>-->
<!--<h1 class="punchline">{{joke.punchline}}</h1>-->
<!--</app-joke>-->
<!--</app-joke-list>-->

<!--<app-reactive-model-form></app-reactive-model-form>-->
<!--<app-template-form></app-template-form>-->

<!--<div class="row">-->
  <!--<div class="col-xs-6">-->
    <!--<app-parent><app-child></app-child></app-parent>-->
  <!--</div>-->
  <!--<div class="col-xs-6">-->
    <!--<app-parent><app-child></app-child></app-parent>-->
  <!--</div>-->
<!--</div>-->

<!--<app-http-test></app-http-test>-->
<!--<app-search></app-search>-->
<app-header></app-header>
<div class="m-t-1">
  <router-outlet></router-outlet>
</div>
